.clear {
	clear: both;
}
.designers {
	text-align: center;
	border-top: solid 1px black;
	width: 250px;
	margin: 0 auto;
	border-bottom: solid 1px black;
	margin-bottom: 40px;
	color: #1ec5b9;
	font-family: "Great Vibes", "Brush Script";
	font-size: 70px;
	padding: 20px 0px;

}
.imgGals {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	/*border-bottom: 1px solid #1ec5b9;*/
	position: relative;
}
.designerInfo a {
	text-decoration: none;
	/*text-align: center;*/
/*	position: absolute;
	bottom: 10px;*/
	background-color: #1ec5b9;
	color: white;
	padding: 5px; 
	font-family: 'Playfair Display SC', serif;
	font-size: 24px;
}
.designerImageContainer {
	width: 20%;
	height: 100%;
	margin-right: 50px;
/*	position: absolute;
	bottom: 0px;
	left: 0px;*/
}
.designerImageContainer img {
	width: 100%;
	height: 100%;
}
.designerImage {
	width: 200px;
	height: 300px;
/*	position: absolute;
	bottom: 0px;*/
}
.designerImage img {
	width: 100%;
	height: 100%;
}
.designerInfo {
	width: 70%;
	text-align: center;
	/*float: right;*/
	/*margin-left: 20px;*/
	/*padding-left: 20px;*/
}
.designerInfoList {
	display: inline-block;
	/*float: right;*/
}
#viewImagesInGallery {
	width: 70%;
	margin: 0 auto;
}
.designerImageGallery {
	position: relative;
	width: 50%;
	float: left;
	text-align: center;
	margin-bottom: 50px;
	padding: 5px;
}
.designerImageGallery p {
	position: absolute;
	bottom: 0px;
	left: 5px;
	z-index: 1;
	text-align: center;
	/*color: #1ec5b9;*/
	color: red;
	font-family: "Great Vibes", "Brush Script";
	padding: 5px;
}
.designerImageGallery span {
	/*color: #1ec5b9;*/
	color: red;
	font-family: "Great Vibes", "Brush Script";
	margin-left: 20px;
}
.designerImageGallery img {
	width: 100%;
	height: 100%;
}
.closeDesignerImageGallery {
    /*font-family: 'Playfair Display SC', serif;*/
    text-align: center;
    margin: 20px 0px;
}
.closeDesignerImageGallery p {
	text-decoration: none;
	font-size: 30px;
	color: white;
	background-color: #e06161;
	padding: 10px 10px;
	text-align: center;
}
.selectedImage {
	text-align: center;
}
.selectedImage img {
	width: 70%;
}
.bottomBorder {
	border-bottom: solid 1px #1ec5b9;
	padding-top: 20px;
	width: 70%;
	margin: 0 auto;
}
.imgNavButtons {
	float: left;
	margin: 5px;
	height: 40px;
	margin-bottom: 20px;
}
.imgNavButtons p {
	font-size: 30px;
	padding: 5px 10px;
	color: white;
	background-color: #1ec5b9;
}
.imgNavContainer {
	width: 40%;
	margin: 0 auto;
/*	position: absolute;
	left: 50%;
	transform: translate(-10%, 0);*/
}

@media screen and (max-width: 1000px) {
  	.designerInfoList {
		display: block;
		/*float: right;*/
	}

	.designerImageContainer {
		width: 40%;
		margin: 0 auto;
	/*	position: absolute;
		bottom: 0px;
		left: 0px;*/
	}
	.designerImageContainer img {
		width: 100%;
		height: 100%;
	}

	.designerInfo {
		width: 100%;
		text-align: center;
		/*float: right;*/
		/*margin-left: 20px;*/
		/*padding-left: 20px;*/
	}
	.imgGals {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 20px;
		/*border-bottom: 1px solid #1ec5b9;*/
		position: none;
	}
	.selectedImage img {
		width: 90%;
	}
	.designerImageGallery {
		position: relative;
		width: 50%;
		float: left;
	}
	.closeDesignerImageGallery p {
		font-size: 60px;
	}
	.imgNavButtons p {
		font-size: 60px;
	}
}
